/********************************
*************GENERAL*************
********************************/

h1, ul, li {
    margin: 0px;
}
.blur{
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}
.gradient{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e52dae+0,635daa+100&0.14+0,0.58+100 */
    background: -moz-linear-gradient(top, rgba(121,49,110,0) 0%, rgba(31,38,83,1) 90%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(121,49,110,0) 0%,rgba(31,38,83,1) 90%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(121,49,110,0) 0%,rgba(31,38,83,1) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0079316e', endColorstr='#1f2653',GradientType=0 ); /* IE6-9 */
}
.shadow_top_left{
    -webkit-box-shadow: -1px -5px 13px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -5px 13px -2px rgba(0,0,0,0.75);
    box-shadow: -1px -5px 13px -2px rgba(0,0,0,0.75);
}
.shadow_bottom{
    -webkit-box-shadow: 0px 10px 19px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 19px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 19px -8px rgba(0,0,0,0.75);
}

.border_top{
    border-top: 1px solid #2b282b;
}
.border_bottom{
    border-bottom: 1px solid #6f6b68;
}

/********************************
*********VIDEO BACKGROUND********
********************************/

.video_wrap{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1000;
    width:100%;
    height:80%;
    min-height: 600px;
    overflow: hidden;
    background-color: black;

}

#video{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;

}

/********************************
*************NAV BAR*************
********************************/
.navbar img{
    margin-top: 3px;
}

.navbar img:hover{
    opacity: 0.7;
}

/* SEARCH BAR */
.input-group{
    padding-left: 20px;
    margin-top: 8px;
    max-width: 340px;
    min-width: 200px;
}
.SearchIcon
{
    color:#fff;

}
.SearchButton
{
    background-color: #9e9e9e;
    border-radius:1px;
    height: 34px;
}
.SearchButton:hover{
    background-color: #4cc40e;
}

.SearchBar{

}

.input-group{

}

/********************************
*************FRAME 1*************
********************************/

.front_frame_1{
    height: 80%;
    min-height: 600px;
    width: 100%;
    top: 100px;
    margin: 0px;
    color: white;
    text-shadow: -1px -1px 20px rgba(150, 150, 150, 1);
    background-color: rgba(30, 30, 30, 0.1);
    /*background-color: #79316e; */
}

.front_frame_1 .row{
    margin-top: 220px;
}
.front_frame_1 img{
    padding-bottom: 20px;
}

.front_frame_1 button{
    margin-top: 30px;
}

/********************************
*************FRAME 2*************
********************************/
.front_frame_2{

    width: 100%;
    background-color: #2b282b;
    left: 50px;
    overflow: hidden;
    min-height: 400px;
    color: #9695a3;
}

.front_frame_2 img{
    overflow: hidden;
}

.front_frame_2 h1, .front_frame_3 h1{
    font-size: 1.5em;
}
.aanraders{
    height: 400px;
    width: 300px;
    background-color: white;
    margin: 20px;
}

/********************************
*************FRAME 3*************
********************************/

.front_frame_3{
    background-color: white;
    width: 100%;
    min-height: 400px;
}

.front_frame_3 h1{
    color: #3a393b;
}

